[Unit]
Description=Flask Application for OpenStack
After=network.target

[Service]
User=nobody
WorkingDirectory=/home/petros/devstack/app
ExecStart=/home/petros/devstack/app/venv/bin/python /home/petros/devstack/app/app.py
Restart=always

[Install]
WantedBy=multi-user.target